body{
    font-size: 16px;
}

#projectrow{
    min-height: 200px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#projectlogo>img{
    height: 100px;
    margin: 2em;
}

#titlearea>table{
    width: 100%;
}

#projectalign{
    padding: 0 1em;
}

.title{
    margin: 10px 10px;
}

div.contents {
    margin: 40px;
}